

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Login Page</h2>
                <br/>
                <div class="form-group">
                   {{input type="email" class="form-control" placeholder="User id" valueBinding="email"}}
                </div>
                <div class="form-group">
                     {{input type="password" class="form-control" placeholder="User id" valueBinding="passwd"}} 
                    </div>
                    <br/>
                   <div class="align-center">
                <button type="submit" class="btn btn-default" id="login" {{action 'click_login'}}>FB Login</button>
                <button type="submit" class="btn btn-default" id="login" {{action 'click_login' true}}>Login</button>
                    </div>
            </form>
        </div>
    </div>
</div>
        

<div class="container register">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Registeration Page</h2>
                <br/>
                <div class="form-group">
                    {{input type="email" class="form-control" placeholder="User id" valueBinding="emailid"}}
                </div>
                <div class="form-group">
                     {{input type="password" class="form-control" placeholder="User id" valueBinding="pwd"}} 
                    </div>
                    <br/>
                   <div class="align-center">
                <button type="submit" class="btn btn-default" id="login" {{action 'click_sample'}}>Register</button>
                    </div>
            </form>
        </div>
    </div>
</div>        
        
        
        
        
        
        
<!-- Omit this part : Just a footer -->
<div style="position:fixed;bottom:10px;left:10px;background:#4679BC;padding:4px;border-radius:2px;border:1px solid #4679AA"><a href="http://code2care.org" title="more ..." style="padding:6px;text-decoration:none;font-size:12px;color:#fff;letter-spacing: 1.5px;">Code2care</a></div>